<!DOCTYPE html>
<html>
<head>
    <title>PDFs</title>
    <link rel="stylesheet" href="/style.css" />
</head>
<body>
    <h1>404 Not Found</h1>
    <p>Sorry, we cannot find {{url}}. Here is a link to go to 
        <a href="/">the home page</a>, if that is what you were looking for.
    </p>
</body>
</html>