<!DOCTYPE html>
<html>
<head>
    <title>PDFs</title>
</head>
<body>
    <h1>Biological Notes</h1>
    {{#each pdfs}}
        <div>
            <a href="/pdfs/{{file}}">{{name}}</a>
            <p>{{description}}</p>
            <br/>
        </div>
    {{/each}}
</body>
</html>